node_modules/
build/

*.js.map
*.d.ts

.env
.env.*
!.env.example

*.log
npm-debug.log*

.DS_Store

.yarn/*
!.yarn/patches
!.yarn/patches/**
!.yarn/plugins
!.yarn/plugins/**
!.yarn/releases
!.yarn/releases/**
!.yarn/sdks
!.yarn/sdks/**
!.yarn/versions
!.yarn/versions/**
